[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
jupyterthemes = "*"
xmltodict = "*"
requests = "*"
"beautifulsoup4" = "*"
pillow = "*"
grab = "*"
pyquery = "*"
pandas = "*"
selenium = "*"
scrapy = "*"

[dev-packages]
"flake8" = "*"
"autopep8" = "*"

[requires]
python_version = "3.6"
